.journal-sheet.pf2e {
    --space-s: 0.25em;
    --space-m: 0.5em;
    --space-l: 1em;
    --space-xl: 1.5em;
    --space-2xl: 2em;
    --radius: 3px;

    .window-content {
        padding: var(--space-s) var(--space-m);
    }

    form {
        display: flex;
        flex-direction: column;

        @import "header";

        > * + * {
            margin-top: var(--space-m);
        }

        .editor-content {
            --space-s: 0.25em;
            --space-m: 0.5em;
            --space-l: 1em;
            --space-xl: 1.5em;
            --space-2xl: 2em;
            --radius: 3px;
            --p-space: var(--space-l);
            --max-width: 570px;
            display: flex;
            flex-direction: column;
            font-family: var(--journal-serif);
            font-size: 1.2em;
            line-height: 1.5;
            color: var(--body);
            padding-bottom: 2em;

            @import "tinymce";
        }

        button[type="submit"] {
            border: none;
            box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.4);
            background-color: var(--alt);
            color: white;
            max-width: 350px;
            font-family: var(--serif);
            font-size: 1.2em;
            margin: auto;
            cursor: pointer;
            text-shadow: 0 0 2px black;
            line-height: 1;
            padding: var(--space-m) 0;

            &:hover {
                text-shadow: 0 0 4px var(--primary);
                background-color: lighten($alt-color, 10);
            }
        }
    }
}
