<div class="pc pc_land-speed">
    <label for="land-speed">{{localize "PF2E.Speed"}}</label>
    <span>
        <h3 title="{{data.attributes.speed.breakdown}}">{{data.attributes.speed.total}} {{localize 'PF2E.TravelSpeed.FeetAcronym'}}</h3>
    </span>
</div>
<div class="pc pc_size">
    <label class="pf-title">{{localize "PF2E.Size"}}</label>
    <span>
        <h3>{{localize (lookup actorSizes data.traits.size.value)}}</h3>
    </span>
</div>
<div class="pc pc_key-ability dropdown">
    <label for="key-ability">{{localize "PF2E.KeyAbilityLabel"}}</label>
    <select id="key-ability" name="data.details.keyability.value" {{disabled data.details.keyability.singleOption}}>
        {{#select data.details.keyability.value}}
            {{#each abilities as |label ability|}}
                <option value="{{ability}}">{{localize label}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="break-column"></div>

<div class="pc pc_flat-bonus-hp">
    <label for="flat-bonus-hp" title="{{localize 'PF2E.FlatBonusHPTitle'}}">{{localize 'PF2E.BonusHPLabel'}}</label>
    <span>
        <input
            id="flat-bonus-hp"
            type="number"
            name="data.attributes.flatbonushp"
            data-dtype="Number"
            value="{{data.attributes.flatbonushp}}"
            placeholder="0"
        />
    </span>
</div>
<div class="pc pc_bonus-hp">
    <label for="bonus-hp" title="{{localize 'PF2E.BonusHPperLevelTitle'}}">
        {{localize 'PF2E.FlatBonusHPperLevel'}}
    </label>
    <span>
        <input
            id="bonus-hp"
            type="number"
            name="data.attributes.levelbonushp"
            data-dtype="Number"
            value="{{data.attributes.levelbonushp}}"
            placeholder="0"
        />
    </span>
</div>
<div class="pc pc_bonus-bulk encumbered">
<label for="bonus-encumbrance-bulk">
    {{localize 'PF2E.BonusEncumbranceBulkLabel'}}
</label>
<input
    id="bonus-encumbrance-bulk"
    type="text"
    name="data.attributes.bonusEncumbranceBulk"
    data-dtype="Number"
    value="{{data.attributes.bonusEncumbranceBulk}}"
    placeholder="0"
/>
</div>
<div class="pc pc_bonus-bulk">
<label for="bonus-limit-bulk">
    {{localize 'PF2E.BonusLimitBulkLabel'}}
</label>
<input
    id="bonus-limit-bulk"
    type="text"
    name="data.attributes.bonusLimitBulk"
    data-dtype="Number"
    value="{{data.attributes.bonusLimitBulk}}"
    placeholder="0"
/>
</div>
{{#if hasStamina}}
<div class="pc pc_stamina-flat-bonus-sp">
    <label
        for="FlatBonusSP"
        title="{{localize 'PF2E.FlatBonusSPTitle'}}"
        class="pf-title"
    >
        {{localize 'PF2E.BonusSPLabel'}}
    </label>
    <span>
        <input
            id="FlatBonusSP"
            type="number"
            name="data.attributes.flatbonussp"
            data-dtype="Number"
            value="{{data.attributes.flatbonussp}}"
            placeholder="0"
        />
    </span>
</div>
<div class="pc pc_stamina-bonus-sp">
    <label
        for="BonusSPperLevel"
        title="{{localize 'PF2E.BonusSPperLevelTitle'}}"
    >
        {{localize 'PF2E.FlatBonusSPperLevel'}}
    </label>
    <span>
        <input
            id="BonusSPperLevel"
            type="number"
            name="data.attributes.levelbonussp"
            data-dtype="Number"
            value="{{data.attributes.levelbonussp}}"
            placeholder="0"
        />
    </span>
</div>
{{/if}}

<div class="tags">
    <div class="pc pc_speed-types">
        <h4>
            {{localize 'PF2E.SpeedTypes'}}
        </h4>
        <ol class="tags">
            {{#each data.attributes.speed.otherSpeeds as |speed k|}}
            <li class="tag {{k}}" title="{{speed.breakdown}}">
                {{localize speed.label}} ({{speed.total}})
            </li>
            {{/each}}
            {{#if @root.owner}}
                <li class="tag edit-btn">
                    <a class="crb-trait-selector" data-trait-selector="speed-types">
                        {{> systems/pf2e/templates/actors/crb-style/icons/plus.html}}
                    </a>
                </li>
            {{/if}}
        </ol>
    </div>
    <div class="pc pc_senses">
        <h4 for="cha-senses">
            {{localize 'PF2E.Senses'}}
        </h4>
        <ol class="tags">
            {{#each data.traits.senses as |sense k|}}
            <li class="tag {{k}}">
                {{localize sense.label}} {{#if sense.value}} ({{sense.value}}) {{/if}}
            </li>
            {{/each}}
            {{#if @root.owner}}
                <li class="tag edit-btn">
                    <a class="crb-trait-selector" data-trait-selector="senses">
                        {{> systems/pf2e/templates/actors/crb-style/icons/plus.html}}
                    </a>
                </li>
            {{/if}}
        </ol>
    </div>
</div>
<div class="pc pc_languages">
    <h4 class="pf-title">
        {{localize 'PF2E.Languages'}}
    </h4>
    <ul class="tags">
        {{#each data.traits.languages.selected as |v k|}}
        <li class="tag {{k}}">
            {{localize v}}
        </li>
        {{/each}}
        {{#if @root.owner}}
            <li class="tag edit-btn">
                <a class="crb-trait-selector" data-trait-selector="basic" data-title="PF2E.Languages" data-config-types="languages" data-property="data.traits.languages">
                    {{> systems/pf2e/templates/actors/crb-style/icons/plus.html}}
                </a>
            </li>
        {{/if}}
    </ul>
</div>

<div class="pc pc_traits">
    <h4 class="pf-title">
        {{localize 'PF2E.Traits'}}
    </h4>
    <ul class="tags">
        {{#each data.traits.traits.selected as |v k|}}
        <li class="tag {{k}}">
            {{localize v}}
        </li>
        {{/each}}
        {{#if @root.owner}}
            <li class="tag edit-btn">
                <a class="crb-trait-selector" data-trait-selector="basic" data-config-types="monsterTraits" data-property="data.traits.traits">
                    {{> systems/pf2e/templates/actors/crb-style/icons/plus.html}}
                </a>
            </li>
        {{/if}}
    </ul>
</div>
