{{#with entry as |entry|}}
<ol class="directory-list item-list spell-list">
    <!-- Add section for each level -->
    {{#each entry.levels as |section lvl|}}
        <li class="item inventory-header spell-level-header spellbook-header" data-item-id="{{entry._id}}" data-item-type="spellLevel" data-level="{{lvl}}">
            <div class="item-name flexrow">
                {{#if entry.isPrepared}}
                {{#if entry.data.showUnpreparedSpells.value}}
                    <a class="skill-name level-prepared-toggle" title="{{localize "PF2E.ToggleSpellVisibilityLevelTitle"}}">
                        <i class="fas {{#if section.displayPrepared}}fa-book-open{{else}}fa-book{{/if}}"></i>
                    </a>
                {{/if}}
                {{/if}}

                <h3>{{localize section.label}}</h3>

                {{#if (and entry.isPrepared section.uses)}}
                    <span class="spell-max-input">
                        <input type="number" data-item-id="{{entry.id}}" data-property="data.slots.slot{{lvl}}.max" value="{{section.uses.max}}" placeholder="0" data-dtype="Number"/>
                    </span>
                {{else}}
                    {{#if section.isCantrip}}
                        <span class="spell-slots">&infin;</span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">&infin;</span>
                    {{else if entry.isFocusPool}}
                        <div class="focus-points" title="{{localize "PF2E.Focus.pointTitle"}}">
                            {{~#times section.uses.max~}}
                                {{~#if (gt section.uses.value this)~}}
                                    <i class="fas fa-dot-circle"></i>
                                {{~else~}}
                                    <i class="far fa-circle"></i>
                                {{~/if~}}
                            {{/times}}
                        </div>
                    {{else if section.uses}}
                        <span class="spell-slots-input">
                            <input type="number" data-item-id="{{entry.id}}" data-property="data.slots.slot{{lvl}}.value" value="{{section.uses.value}}" placeholder="0" data-dtype="Number"/>
                        </span>
                        <span class="flex0"> / </span>
                        <span class="spell-max-input">
                            <input type="number" data-item-id="{{entry.id}}" data-property="data.slots.slot{{lvl}}.max" value="{{section.uses.max}}" placeholder="0" data-dtype="Number"/>
                        </span>
                        {{#if @root.owner}}
                            <a class="spell-slots-increment-reset" data-item-id="{{entry._id}}"  data-level="{{lvl}}"><i class="fas fa-redo"></i></a>
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>

            <div class="spell-range">{{localize "PF2E.SpellRangeLabel"}}</div>
            <div class="spell-components">{{localize "PF2E.SpellComponentsLabel"}}</div>

            {{#if @root.owner}}
                <div class="item-controls">
                    <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell"
                        data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-plus"></i></a>
                    <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell"
                        data-level="{{lvl}}" data-location="{{entry._id}}"><i class="fas fa-search"></i></a>
                </div>
            {{/if}}
        </li>

        <!-- Add spell items for each spell level -->
        {{#each section.active as |active i|}}
            {{#with active}}
                <li class="item" data-item-id="{{spell.id}}" data-entry-id="{{entry.id}}" data-spell-lvl="{{section.level}}" data-slot-id={{i}} data-item-type="spell" data-expended-state="{{expended}}">
                    <div class="item-name rollable">
                        <div class="item-image">
                            <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}">
                        </div>
                        <h4>{{spell.name}}{{{actionGlyph spell.data.data.time.value}}}</h4>
                    </div>

                    <div class="spell-range">{{spell.data.data.range.value}}</div>
                    <div class="spell-components">
                        {{#if spell.data.data.components.material}}
                            <span class="tag">{{localize "PF2E.SpellComponentShortM"}}</span>
                        {{/if}}
                        {{#if spell.data.data.components.somatic}}
                            <span class="tag">{{localize "PF2E.SpellComponentShortS"}}</span>
                        {{/if}}
                        {{#if spell.data.data.components.verbal}}
                            <span class="tag">{{localize "PF2E.SpellComponentShortV"}}</span>
                        {{/if}}
                    </div>

                    {{#unless entry.isPrepared}}
                        <div class="spell-cast">
                            <button type="button" class="spell-slots-increment-down" data-item-id="{{entry.id}}" data-level="{{section.level}}">
                                {{localize "PF2E.CastLabel"}}
                            </button>
                        </div>
                    {{/unless}}

                    {{#if @root.owner}}
                        <div class="item-controls">
                            {{#if entry.isPrepared}}
                                {{#unless section.isCantrip}}
                                    <a class="item-control item-toggle-prepare" title="{{localize "PF2E.ExpendSpellTitle"}}"><i class="fas fa-minus-square"></i></a>
                                {{/unless}}
                                <a class="item-control item-unprepare" title="{{localize "PF2E.UnprepareItemTitle"}}"><i class="fas fa-trash"></i></a>
                            {{else}}
                                {{#if (and (eq entry.data.prepared.value "spontaneous") (not section.isCantrip))}}
                                    <a class="item-control toggle-signature-spell" title="{{localize 'PF2E.ToggleSignatureSpellTitle'}}">
                                        {{#if signature}}
                                            <i class="fas fa-star"></i>
                                        {{else}}
                                            <i class="far fa-star"></i>
                                        {{/if}}
                                    </a>
                                {{/if}}

                                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                            {{/if}}
                        </div>
                    {{/if}}
                </li>
            {{else}}
                <li class="item" data-item-id="{{i}}" data-spell-lvl="{{section.level}}" data-item-type="spellSlot" data-entry-id="{{entry.id}}" draggable="true">
                    <div class="item-name empty"><h4>{{localize "PF2E.SpellSlotEmpty"}}</h4></div>
                </li>
            {{/with}}
        {{/each}}

        {{#if (and entry.data.showUnpreparedSpells.value section.displayPrepared)}}
            <header class="item-name pf-sub-category pf-actions level-prepared-header">
                {{localize "PF2E.UnpreparedSpellsLabel"}}
            </header>

            <!-- Unprepared Spells -->
            {{#each section.spellPrepList as |item i|}}
                <li class="item spellbook-item" data-item-id="{{item.spell.id}}" data-item-type="spell">
                    <div class="item-name rollable">
                        <h4>{{item.spell.name}}{{{actionGlyph item.spell.data.data.time.value}}}</h4>
                    </div>

                    <div class="spell-range">{{localize item.data.range.value}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div>

                    {{#if @root.owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
                        </div>
                    {{/if}}
                </li>
            {{/each}}
        {{/if}}
    {{/each}}
    {{#unless entry.levels}}
    {{#if @root.owner}}
        <li class="inventory-header spellbook-header spellbook-empty">
            <h4>{{localize "PF2E.SpellSlotEmpty"}}</h4>
            <a class="item-control spell-create" title="{{localize "PF2E.CreateSpellTitle"}}" data-type="spell" data-location="{{entry._id}}">
                <i class="fas fa-plus"></i>{{localize "PF2E.AddSpellTitle"}}
            </a>
            <a class="item-control spell-browse" title="{{localize "PF2E.OpenSpellBrowserTitle"}}" data-type="spell" data-location="{{entry._id}}">
                <i class="fas fa-search"></i>{{localize "PF2E.OpenSpellBrowserTitle"}}
            </a>
        </li>
    {{/if}}
    {{/unless}}
</ol>
{{/with}}
